In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sys
import geopandas as gpd
import geobr

In [14]:
sys.path.append('..')

In [15]:
file_path = '../Data/analyzed/basic_age_analysis.csv'
mun_path = '../Data/municipalities.csv'

df_file = pd.read_csv(file_path)
mun_file = pd.read_csv(mun_path)

In [17]:
df_new = df_file.sort_values(['ID_MUNICIP','CASOS'], ascending=False).drop_duplicates('ID_MUNICIP').sort_index()

In [24]:
df_new.sort_values(by = 'CASOS',ascending = False)[:20]

,Unnamed: 0,ID_MUNICIP,GRUPO_IDADE,CASOS,VAC,N_VAC,I_VAC,SG_UF_NOT
2190,2190,355030,"(19, 29]",3273,1005.0,1544.0,724.0,35
100,100,130260,"(0, 4]",2021,386.0,1529.0,106.0,13
2376,2376,410690,"(19, 29]",764,351.0,285.0,128.0,41
637,637,160030,"(0, 4]",465,40.0,386.0,39.0,16
272,272,150140,"(19, 29]",413,35.0,350.0,28.0,15
231,231,150080,"(19, 29]",349,60.0,191.0,98.0,15
86,86,130250,"(0, 4]",327,63.0,264.0,0.0,13
1316,1316,330455,"(19, 29]",295,111.0,93.0,91.0,33
740,740,230440,"(0, 4]",284,44.0,173.0,67.0,23
1224,1224,330170,"(0, 4]",282,36.0,196.0,50.0,33
1683,1683,351880,"(0, 4]",271,106.0,121.0,44.0,35
1421,1421,350570,"(0, 4]",213,73.0,118.0,22.0,35
2137,2137,354870,"(0, 4]",173,44.0,109.0,20.0,35
1638,1638,351630,"(19, 29]",163,64.0,80.0,19.0,35
2120,2120,354780,"(19, 29]",160,54.0,48.0,58.0,35
1646,1646,351640,"(19, 29]",156,44.0,107.0,5.0,35
658,658,160060,"(0, 4]",147,9.0,106.0,32.0,16
970,970,261160,"(0, 4]",137,40.0,83.0,14.0,26
1935,1935,353440,"(19, 29]",118,41.0,48.0,29.0,35
178,178,140010,"(0, 4]",117,50.0,65.0,2.0,14