In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sys
import geopandas as gpd
import geobr

In [2]:
sys.path.append('..')

In [3]:
df_inf = pd.read_csv('../Data/analyzed/inf_abroad.csv')
df_res = pd.read_csv('../Data/analyzed/res_abroad.csv')
mun_file = pd.read_csv('../Data/municipalities.csv')

In [4]:
mun_file['codigo'] = mun_file['municipio'].astype(str).str[:6].astype(int)
mun_file = mun_file[['municipio','name','codigo','pop_21']]

In [5]:
df_inf

    Unnamed: 0  ID_MUNICIP  CASO
0            0      130260     1
1            1      130353     1
2            2      140002    81
3            3      140010   163
4            4      140045    54
5            5      150140     9
6            6      221100     1
7            7      250750     5
8            8      261160     1
9            9      292530     1
10          10      292740     1
11          11      310620     5
12          12      320240     1
13          13      320530     1
14          14      330455     2
15          15      350600     1
16          16      350950     1
17          17      351550     1
18          18      351830     1
19          19      353180     1
20          20      354340     2
21          21      354780     1
22          22      354980     1
23          23      354990     1
24          24      355030    12
25          25      410690     1
26          26      420540     2
27          27      431490    23
28          28      431800     1
29          29      500270     2
30          30      520870     1
31          31      530010     2

In [6]:
df_res

   Unnamed: 0  ID_MUNICIP  CASO
0           0      140002    81
1           1      140045     9
2           2      310620     1
3           3      330455     2
4           4      354340     1
5           5      354850    12
6           6      420200     2
7           7      420540     2

In [7]:
df_inf = df_inf.merge(mun_file, how = 'left', left_on = 'ID_MUNICIP', right_on = 'codigo')
df_res = df_res.merge(mun_file, how = 'left', left_on = 'ID_MUNICIP', right_on = 'codigo')

In [ ]:
map_br = geobr.read_municipality()

C:\Users\denise.cammarota\AppData\Local\anaconda3\lib\site-packages\geopandas\array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out
C:\Users\denise.cammarota\AppData\Local\anaconda3\lib\site-packages\geopandas\array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out
C:\Users\denise.cammarota\AppData\Local\anaconda3\lib\site-packages\geopandas\array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out
C:\Users\denise.cammarota\AppData\Local\anaconda3\lib\site-packages\geopandas\array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out
C:\Users\denise.cammarota\AppData\Local\anaconda3\lib\site-packages\geopandas\array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out
C:\Users\denise.cammarota\AppData\Local\anaconda3\lib\site-packages\geopandas\array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out
C:\Users\denise.cammarota\AppData\Local\anaconda3\lib\site-packages\geopandas\array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out
C:\Users\denise.cammarota\AppData\Local\anaconda3\lib\site-packages\geopandas\array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out
C:\Users\denise.cammarota\AppData\Local\anaconda3\lib\site-packages\geopandas\array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out
C:\Users\denise.cammarota\AppData\Local\anaconda3\lib\site-packages\geopandas\array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out
C:\Users\denise.cammarota\AppData\Local\anaconda3\lib\site-packages\geopandas\array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out

In [ ]:
    map_br_aux = map_br.copy()
    map_br_aux = map_br_aux.merge(df_res, how = 'left', left_on = 'code_muni', right_on = 'municipio')
    fig, axs = plt.subplots(figsize = (12,12))
    map_br_aux = map_br_aux.fillna(0)
    map_br_aux.plot(
        ax=axs, # Axis de destino do gráfico
        column="CASO", # Coluna com os valores usados para colorir o mapa
    )
    cax = fig.add_axes(
        [
            0.82,    # posicao x (entre 0.0 e 1.0)
            0.18,    # posicao y (entre 0.0 e 1.0)
            0.03,    # largura x
            0.40,    # altura y
        ]
    )

    sm = plt.cm.ScalarMappable(
        cmap="viridis",                                       
        norm=plt.Normalize(
            vmin=map_br_aux["CASO"].min(),  
            vmax=map_br_aux["CASO"].max(),  
        ),
    )
    
    fig.colorbar(
    sm,
    cax=cax)
    
    axs.set_title(
    "Cases residing abroad from 2007-2022",
    fontdict={"fontsize": 15},
    )
    axs.axis("off") 
    fig.savefig('../Figs/res_cases.pdf')

In [ ]:
    map_br_aux = map_br.copy()
    map_br_aux = map_br_aux.merge(df_inf, how = 'left', left_on = 'code_muni', right_on = 'municipio')
    fig, axs = plt.subplots(figsize = (12,12))
    map_br_aux = map_br_aux.fillna(0)
    map_br_aux.plot(
        ax=axs, # Axis de destino do gráfico
        column="CASO", # Coluna com os valores usados para colorir o mapa
    )
    cax = fig.add_axes(
        [
            0.82,    # posicao x (entre 0.0 e 1.0)
            0.18,    # posicao y (entre 0.0 e 1.0)
            0.03,    # largura x
            0.40,    # altura y
        ]
    )

    sm = plt.cm.ScalarMappable(
        cmap="viridis",                                       
        norm=plt.Normalize(
            vmin=map_br_aux["CASO"].min(),  
            vmax=map_br_aux["CASO"].max(),  
        ),
    )
    
    fig.colorbar(
    sm,
    cax=cax)
    
    axs.set_title(
    "Cases infected abroad from 2007-2022",
    fontdict={"fontsize": 15},
    )
    axs.axis("off") 
    fig.savefig('../Figs/inf_cases.pdf')