In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sys

In [2]:
sys.path.append('..')

In [3]:
def S0_FinalSize(R_inf,R0):
    return (1-R_inf)*(np.exp(R_inf*R0))

In [4]:
file_path = '../Data/analyzed/basic_age_analysis.csv'
mun_path = '../Data/municipalities.csv'

df_file = pd.read_csv(file_path)
mun_file = pd.read_csv(mun_path)

In [5]:
mun_file['codigo'] = mun_file['municipio'].astype(str).str[:6].astype(int)
mun_file = mun_file[['municipio','name','codigo','pop_21']]

In [6]:
df_cases = df_file.groupby(['ID_MUNICIP'])['CASOS'].sum()
df_cases = df_cases.reset_index(name = 'CASOS_T')
df_cases = df_cases.merge(mun_file, how = 'left', left_on = 'ID_MUNICIP', right_on = 'codigo')
df_cases = df_cases.drop(columns = ['codigo'])
df_cases['CASOS_N'] = (df_cases['CASOS_T']/df_cases['pop_21'])

In [7]:
df_cases = df_cases.sort_values(by = 'CASOS_T',ascending = False)

In [29]:
df_cases['S0'] = S0_FinalSize(df_cases['CASOS_N'],15)

In [30]:
df_cases[:20]

,ID_MUNICIP,CASOS_T,municipio,name,pop_21,CASOS_N,S0
710,355030,10195,3550308,São Paulo,12396372,0.000822,1.011580
27,130260,7305,1302603,Manaus,2255903,0.003238,1.046372
61,150140,1546,1501402,Belém,1506420,0.001026,1.014471
763,410690,1441,4106902,Curitiba,1963726,0.000734,1.010326
56,150080,992,1500800,Ananindeua,540410,0.001836,1.026030
25,130250,893,1302504,Manacapuru,99613,0.008965,1.133676
558,351880,828,3518800,Guarulhos,1404694,0.000589,1.008286
458,330455,791,3304557,Rio de Janeiro,6775561,0.000117,1.001636
142,160030,642,1600303,Macapá,522357,0.001229,1.017355
185,230440,536,2304400,Fortaleza,2703391,0.000198,1.002780
494,350570,517,3505708,Barueri,279704,0.001848,1.026213
701,354870,492,3548708,São Bernardo do Campo,849874,0.000579,1.008137
699,354780,447,3547809,Santo André,723889,0.000617,1.008682
547,351630,444,3516309,Francisco Morato,179372,0.002475,1.035259
548,351640,404,3516408,Franco da Rocha,158438,0.002550,1.036340
436,330170,381,3301702,Duque de Caxias,929449,0.000410,1.005755
638,353440,314,3534401,Osasco,701428,0.000448,1.006287
617,352940,286,3529401,Mauá,481725,0.000594,1.008346
513,350950,238,3509502,Campinas,1223237,0.000195,1.002728
700,354850,226,3548500,Santos,433991,0.000521,1.007317