In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sys
import geopandas as gpd
import geobr

In [2]:
sys.path.append('..')

In [3]:
dict_regions_states = {11: 'RN',12:'RN',13:'RN',14:'RN',15:'RN',16:'RN', 17: 'RN',
                      21:'RNE',22:'RNE',23:'RNE',24:'RNE',25:'RNE',26:'RNE',27:'RNE',28:'RNE', 29:'RNE',
                      50:'RCO',51:'RCO',52:'RCO',53:'RCO',
                      31:'RSE',32:'RSE',33:'RSE',35:'RSE',
                      41:'RS',42:'RS',43:'RS'}

In [4]:
not_path = '../Data/analyzed/not_year_evo.csv'
res_path = '../Data/analyzed/res_year_evo.csv'
mun_path = '../Data/age_groups_municipalities.csv'
mun_2_path = '../Data/municipalities.csv'

df_not = pd.read_csv(not_path)
df_res = pd.read_csv(res_path)
mun_file = pd.read_csv(mun_path)
mun_2_file = pd.read_csv(mun_2_path)

In [5]:
age_names = ['0 a 4',
 '5 a 9',
 '10 a 14',
 '15 a 19',
 '20 a 29',
 '30 a 39',
 '40 a 49',
 '50 a 59',
 '60 a 69',
 '70 a 79',
 '80+']

In [6]:
df_res = df_res[['Unnamed: 0','ID_MN_RESI','(0, 4]', '(4, 9]', '(9, 14]', '(14, 19]', '(19, 29]',
       '(29, 39]', '(39, 49]', '(49, 59]', '(59, 69]', '(69, 79]','(79, 120]','TOTAL']]

df_not = df_not[['Unnamed: 0','ID_MUNICIP','(0, 4]', '(4, 9]', '(9, 14]', '(14, 19]', '(19, 29]',
       '(29, 39]', '(39, 49]', '(49, 59]', '(59, 69]', '(69, 79]','(79, 120]','TOTAL']]

In [7]:
mun_2_file['municipio'] = mun_2_file['municipio'].astype(str).str[:6].astype(int)

In [8]:
mun_file = mun_file.drop(columns = ['Unnamed: 0','Total'])
mun_file = mun_file.set_index('Municipio')

## Focusing on municipality of residence - cases per capita per region

In [9]:
df_res_year = df_res.groupby(['ID_MN_RESI'])['TOTAL'].sum()
df_res_year = df_res_year.reset_index()

In [10]:
df_res_year = df_res_year.merge(mun_2_file, how = 'left', left_on = 'ID_MN_RESI', right_on = 'municipio')

In [11]:
df_res_year['REG'] = df_res_year['ID_MN_RESI'].astype(str).str[:2].astype(int)

In [12]:
df_res_year['REG'] = df_res_year['REG'].replace(dict_regions_states)

In [13]:
df_res_year = df_res_year.groupby(['REG'])[['TOTAL','uf']].sum()
df_res_year = df_res_year.reset_index()

In [14]:
df_res_year

   REG    TOTAL     uf
0  RCO     64.0    929
1   RN  15426.0   2408
2  RNE   1994.0   5674
3   RS   2427.0   5050
4  RSE  21001.0  14536

In [15]:
df_res

,Unnamed: 0,ID_MN_RESI,"(0, 4]","(4, 9]","(9, 14]","(14, 19]","(19, 29]","(29, 39]","(39, 49]","(49, 59]","(59, 69]","(69, 79]","(79, 120]",TOTAL
0,0,110004.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,110012.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,110020.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,110030.0,4.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
4,4,110146.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,521210.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
951,951,521250.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0
952,952,521830.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
953,953,521860.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
954,954,530010.0,1.0,1.0,0.0,4.0,13.0,1.0,2.0,0.0,0.0,0.0,0.0,22.0

## Focusing on municipality of residence - age cases per capita per region